
    <header >
        <div class="headerUrl">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
            <a [routerLink]="['/blog']" routerLinkActive="router-link-active" >Blog</a>
            <a href="#contact">Contact</a>
        </div>
        <!-- <div class="LoginRegister" *ngIf="isAuth()">
        <span style="margin: 0 30px;" *ngIf="isUsernameFound()">{{username}}</span>
        <a class="Login" [routerLink]="['/']" routerLinkActive="router-link-active" (click)="logout()">Logout</a>
    </div>
    <div class="LoginRegister" *ngIf="!isAuth()">
        <a class="Register" [routerLink]="['/signup']" routerLinkActive="is-active"  >Regsiter</a>
        <a class="Login" routerLink="/login" >Login</a>
        <a class="Login" routerLink="/" (click)="logout()">Logout</a>
    </div> -->
    </header>
