@font-face {
    font-family: 'IBMPlexSansArabic-Regular';
    font-weight: 700;
    font-style: normal;
    src: url('/assets/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf')
        format('ttf');      
    font-display:Optional;
  }

body{
    color: #000;
    font-family: 'IBMPlexSansArabic-Regular',sans-serif;
    padding: 0;
    margin: 0;
}

header{  
    display: flex;
    justify-content:center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.headerUrl{
    display: flex; 
    justify-content:center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
}

header div.headerUrl a:hover{
    text-decoration: underline;    
}

.Container{
    padding: 0;
    margin: 0;
}

.LoginRegister{
    position: absolute;
    right: 10%;
    margin: 15px;

}
.Register{
    padding: 6px 8px;
    margin: 0 5px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}
.Login{
    padding: 6px 10px;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    background-color: #fff;
}


.Intro{
    display: flex; 
    justify-content:center;    
}
.IntroBox{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
    margin-top: 100px;
    border-radius: 10%;
    width: 60%;
}



.ContainerFluid{

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
    margin-top: 65px;
    margin-left: 15%;
    border-radius: 100px;
    width: 60%;
}

.CV{
    display:flex;
    justify-content:center;
}

.Contact{
    margin-top: 20%;
    display:flex;
    justify-content:center;
}

.formContact{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
    margin-top: 100px;
    border-radius: 10%;
    width: 60%;
}



.forms{
    display: flex;
    flex-direction: column;
    padding: 5%;

}

div.forms label{
    padding:12px;
    font-size: 20px;
}

.headerContact{
    display:flex;
    justify-content: center;
}

.forms input {
    padding: 8px;
    border-radius: 25px;
    border: 1px solid #d0d0d0;
}
.forms textarea{
    padding: 8px;
    border-radius: 25px;
    border-color: #d0d0d0;
}

span.Name{
    display: flex;
    font-size: 70px;
    justify-content: center;
    margin-bottom: 10%;
    text-shadow: rgba(220, 241, 254, 0.831) 5px 10px 24px;
}

p.DetailsAboutMe{
    font-size: 24px;
}

.circle {
    width: 150px;
    height: 150px;
    background: rgba(250, 250, 249, 0.934);
    box-shadow: 3px 3px 3px #000;
    border-radius: 50%;
    font-size: 33px;
    line-height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0px 5px;
  }

  .center{
      display: flex;
      justify-content: center;
      
  }

.aboutMe{
    margin-bottom: 15%;
}

.skillBox{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
    margin-top: 100px;
    border-radius: 10%;
    width: 60%;
}
.ThreeSkills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

  .skill{
      display:flex;
      flex-direction: column;
      justify-content: center;   
      padding: 5px;
  }

.bottom{
    display: flex;
    justify-content:center;

}

.button-light{
    padding: 10px 30px;
    margin: 0 5px;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    text-decoration: none;
    background-color: #fff;
    color: black;
    cursor:pointer;
}
.button-light:hover{
    border-color: #000;
}

.DownloadCv{
    margin: 25px;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    /* background-color: #d0d0d0; */
    border: 1px solid #000;
    border-radius: 50px;
    box-shadow: rgba(138, 146, 154, 0.591) 0px 8px 24px;
    
}



.p-5 {
    padding: 5px;
}
.px-5{
    padding: 0 5px;
}
.p-3 {
    padding: 3px;
}
.px-3 {
    padding: 0 3px;
}
.m-3{
    margin: 3px;
}
.mx-3{
    margin: 0 3px;
}
.py-3{
    padding: 3px 0;
}
.my-3{
    margin:  3px 0;
}


footer{

    position: relative;
    margin-top: 20px;

    width: 100%;
    height: 30px;
}
.footerContainer{
    display: flex;
    justify-content: center;
    
}
.CopyRight{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 0px;
    border-radius: 13%;
    width: 30%;
}

.text-danger{
    color:red;
    font-size: 10px;
    
}


.successfulMessage{
    background-color: rgb(100, 245, 166);
    padding: 1%;
    border-radius: 15px;
}

.errorMessage{
    background-color: rgb(242, 97, 97);
    padding: 1%;
    border-radius: 15px;
}